@import './utils/variables';
@import './utils/container';
@import './utils/reset';
@import './utils/hidden';
@import './utils/social';
@import './utils/button';

@import './components/logo';
@import './components/header';
@import './components/footer';
@import './components/index/about';
@import './components/index/client';
@import './components/index/features';
@import './components/index/main';
@import './components/index/team';
@import './components/portfolio/filter';
@import './components/portfolio/work';
@import './components/modal';
@import './components/phone-menu';
