.footer-main {
  background-color: var(--background-first);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  display: block;
  align-items: baseline;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__first {
  text-align: center;
  margin-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-list__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 70px;
  }
}
.footer-list__join {
  margin-bottom: 60px;
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
.join__social {
  display: flex;
  justify-content: center;
}
.join__social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.join__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__social-icon {
  fill: var(--first-color);
}
.footer-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.mailing {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: auto;
  margin-bottom: 60px;
}
.mailing__forms {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mailing__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.mailing__text {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  display: block;
  width: 100%;
  color: var(--first-color);
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
  &::placeholder {
    width: 358px;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.mailing__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--accent-color);
  margin-left: 12px;
  margin: 0 auto;
}
.mailing__send {
  margin-left: 10px;
}
