.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__logo-first {
  color: var(--accent-color);
  margin-right: 93px;
}
.header__logo-second {
  color: var(--logo-color);
}

.footer__logo-first {
  color: var(--accent-color);
}
.footer__logo-second {
  color: var(--first-color);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
