.work__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.work__list-item {
  // width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    // max-width: 768px;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
}

.work__list-item-wrap {
  position: relative;
  overflow: hidden;
}

.work__list-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  overflow: auto;
}

.work__list-focus-link {
  display: block;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: var(--first-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    .work__list-top-text,
    .work__list-top-text {
      transform: translateY(0);
    }
  }
}

.work__list-about {
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

.work__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.work__list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.work__list-item-focus {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
