:root {
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
  --accent-color: #2196f3;
  --background-button: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-first: #2f303a;
  --background-second: #e5e5e5;
  --logo-color: #000000;
  --hover-color: #188ce8;
  --icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--second-color);
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
