.client__title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.client-list {
  // maybe
  // display: flex;
  // justify-content: center;
}
.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  & + & {
    margin-left: 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    max-width: 768px;
    flex-basis: calc(100% / 2 - 30px);
    &:nth-child(2n) {
      margin-right: 0px;
    }
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__icon {
  fill: currentColor;
}
