.features {
  background-color: var(--first-color);
}

.features__list-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 120px;
  background-color: var(--background-button);
  margin-bottom: 30px;
  & + & {
    margin-left: 30px;
    @media screen and (min-width: 480px) {
      max-width: 450px;
      max-height: 120px;
    }
  }
}
.features__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0 auto;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.features__list-item {
  max-width: 270px;
  max-width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 768px;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.features__list-func {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}
.features__list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
